# Remove waveform files 
*.vcd

# Remove all folders called work including in subdirectories
**/work/

# Remove python cache files
**/__pycache__/

# Remove cocotb artificats
**/sim_build/

# Remove cocotb results files
**results.xml




